
.container .navbar{

    width: 950px;
    height: 80px;
    background-color: #683091;

}

.container .navbar .btn{

    background: white;
    display: inline;
    float: left;
    
}
ul li {
    text-decoration: none;
}

#tex{

    font-size: 20px;
    color: white;
    float: left;
    display: flex;
}

.container-2 .navbar-2{

    width: 950px;
    height: 200px;
    margin-top: 50px;
    margin-left: 410px;
    background-color: #683091;
    

}


#wb-name{
    font-size: 50px;
    color: white;
    padding-left: 50px;
    
}

#wb-title{

    
    font-size: 30px;
    color: white;
    padding-left: 300px;

}




    



